.PokemonDetailCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f5f5f5;
  width: 800px;  
  height: 500px;
  border: 2px solid #e0e0e0;
  overflow: hidden;

}



.custome-name {
  font-size: 100px;
  
}

.info {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  padding: 0 10px; 
}

.taille, .poids {
  font-weight: bold; 
  
}

.pokemon-image {
  width: 30%; 


}

.moves-button {
  margin-top: 10px;
}

.types {
  display: flex;
  margin-top: 10px; 
}


