.PokemonDetailCard {
    position: relative;
    background-color: white;
    width: 400px;
    height: 250px;
    border: 2px solid;
    margin: 20px;
}

.Dialog-container {
    /* Styles spécifiques pour le Dialog dans PokemonDetailCard */
    text-align: center;
    background-color: #292c33;
  }
  
  .Dialog-content {
    /* Styles spécifiques pour le contenu du Dialog dans PokemonDetailCard */
    color: white;
    /* Ajoutez d'autres styles si nécessaire */
  }


