.Type {
    color: black;
    padding: 3px 5px; 
    margin: 5px;
    border-radius: 10px; 
    display: inline-block;
    text-transform: capitalize; 
    font-size: 13px; 
    text-align: center; 
    
}